@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root, .App{
  width: 100%;
  height: 100%;
}

html, body {
  background-color: #232223;
  height: 100%;
}

.login-page {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #232223;
  margin: 0 auto;
  place-items: center;
}

::selection {
  background: #1a75ff;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.wrapper .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.wrapper .slide-controls label.signup {
  color: #000;
}

.wrapper .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper input[type="radio"] {
  display: none;
}

.wrapper #signup:checked ~ .slider-tab {
  left: 50%;
}

.wrapper #signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

.wrapper #signup:checked ~ label.login {
  color: #000;
}

.wrapper #login:checked ~ label.signup {
  color: #000;
}

.wrapper #login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper .form-container .form-inner {
  display: flex;
  width: 200%;
}

.wrapper .form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.wrapper .form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.wrapper .form-inner form .field input:focus {
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.wrapper .form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus::placeholder {
  color: #1a75ff;
}

.wrapper .form-inner form .pass-link {
  margin-top: 5px;
}

.wrapper .form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
  color: #000;
}

.wrapper .form-inner form .pass-link a,
.wrapper .form-inner form .signup-link a {
  color: #1a75ff;
  text-decoration: none;
}

.wrapper .form-inner form .pass-link a:hover,
.wrapper .form-inner form .signup-link a:hover {
  text-decoration: underline;
}

.wrapper form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.wrapper form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
  border-radius: 15px;
  transition: all 0.4s ease;
}

.wrapper form .btn:hover .btn-layer {
  left: 0;
}

.wrapper input[type="button"] {
  font-size: 20px;
  font-weight: 500;
  color: #fff !important;
  background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.4s ease;
  padding: 0 !important;
}

.wrapper input[type="button"]:hover{
  transform: scale(1.05);
}

.wrapper form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper form .btn input[type="submit"]:hover{
  transform: scale(1.05);
}

.wrapper .login-link:hover {
  color: red !important;
}


.wrapper .form-container {
  width: 100%;
  overflow: hidden;
  transition: height 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Thêm transition cho chiều cao */
}

.wrapper .form-inner {
  display: flex;
  width: 200%; /* Đảm bảo form-inner đủ rộng để chứa cả hai form */
}

.wrapper .form-inner form {
  width: 50%; /* Mỗi form chiếm 50% chiều rộng */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}